## Geri dönüşümden tasarruf edilen enerji
<p>Geri dönüşümün, malzemeleri sıfırdan yapma ihtiyacını azaltarak veya ortadan kaldırarak enerji tasarrufu sağladığını biliyor muydunuz? Örneğin, alüminyum kutu üreticileri, geri dönüştürülmüş kutuları temizleyerek ve eriterek cevherden alüminyum üretmenin enerji maliyetli sürecini atlayabilir. Alüminyum, demir içermeyen bir metal olarak sınıflandırılır.</p>

<p>Singapur, sıfır atık ülkesi olma konusunda iddialı bir hedefe sahip. Singapur'da bertaraf edilen atık miktarı son 40 yılda yedi kat arttı. Bu hızda, Singapur’un tek katı atık sahası olan Semakau Katı Atık Sahası 2035 yılına kadar tükenecek. Sorunları daha da kötüleştiren Singapur, yeni yakma tesisleri veya atık depolama alanları inşa etmek için sınırlı alana sahip.</p>

<p>Hükümet, birleşik geri dönüşüm çabalarının her yıl kurtardığı toplam enerjiyi paylaşarak vatandaşları motive etmek istiyor. Onlara yardım etmeni istediler.</p>

<p>Size üç veri kümesi sağlandı. Veriler farklı ekiplerden geldiğinden atık türlerinin isimleri farklılık gösterebilir.</p>

<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - 2003-2017 dönemi için atık türü başına geri dönüşüm istatistikleri</b>
    </div>
    <div>Kaynak: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>Geri dönüştürülen atık türü.</li>
    <li><b>waste_disposed_of_tonne: </b>Geri dönüştürülemeyen atık miktarı (metrik ton cinsinden).</li>
    <li><b>total_waste_recycle_tonne: </b>Geri dönüştürülebilecek atık miktarı (metrik ton cinsinden).</li>
    <li><b>total_waste_generated: </b>Geri dönüşümden önce toplanan toplam atık miktarı (metrik ton cinsinden).</li>
    <li><b>recycling_rate: </b>Üretilen bir ton atık başına geri dönüştürülen atık miktarı.</li>
    <li><b>year: </b> Geri dönüşüm yılı. </li>
</ul>
    </div>

<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - 2018-2019 dönemi için atık türü başına geri dönüşüm istatistikleri</b>
    </div>
    <div> Kaynak: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>Geri dönüştürülen atık türü.</li>
    <li><b>Total Generated: </b>Geri dönüşümden önce toplanan toplam atık miktarı (binlerce metrik ton olarak).</li> 
    <li><b>Total Recycled: </b>Geri dönüştürülebilecek atık miktarı. (binlerce metrik ton olarak).</li>
    <li><b>Year: </b>Geri dönüşüm yılı.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv - Atık türü başına tasarruf edilen enerji miktarının kWh cinsinden uyarılması</b>
    </div>
<ul>
    <li><b>material: </b>Geri dönüştürülen atık türü.</li>
    <li><b>energy_saved: </b>Bir metrik ton atığın geri dönüştürülmesiyle tasarruf edilen enerji tahmini (kiloWatt saat cinsinden).</li> 
    <li><b>crude_oil_saved: </b>Bir metrik ton atığın geri dönüştürülmesiyle tasarruf edilen varil petrol sayısının tahmini.</li>
</ul>

</div>
<pre><code>
</code></pre></li>

### Singapur, 2015 ile 2019 arasında cam, plastik, demir ve demir dışı metalleri geri dönüştürerek kiloWatt saat (kWh) cinsinden yılda ne kadar enerji tasarrufu yaptı?

In [6]:
import pandas as pd
waste_15_16_17 = pd.read_csv("datasets/wastestats.csv")
waste_15_16_17 = waste_15_16_17[["waste_type", "total_waste_recycled_tonne", "year"]]
waste_15_16_17 = waste_15_16_17[waste_15_16_17["waste_type"].isin(["Plastics", "Ferrous metal", "Non-ferrous metal", "Glass", "Ferrous Metal", 'Non-ferrous Metals', 'Ferrous Metals', 'Non-ferrous metals', "Non-ferrous metals", "Plastic"])]
waste_15_16_17.query("year >= 2015", inplace=True)
waste_15_16_17["total_waste_recycled_tonne"] = [int(each) for each in waste_15_16_17["total_waste_recycled_tonne"]]
waste_15_16_17["waste_type"] = ["Plastics" if each == "Plastic" else each for each in waste_15_16_17.waste_type]
waste_15_16_17["waste_type"] = ["Ferrous Metal" if each == "Ferrous metal" else each for each in waste_15_16_17.waste_type]
waste_15_16_17["waste_type"] = ["Non-Ferrous Metal" if each == "Non-ferrous metal" else ("Non-Ferrous Metal" if each == "Non-ferrous metals" else each) for each in waste_15_16_17.waste_type]
waste_15_16_17 = waste_15_16_17.sort_values("year", ascending = False)
waste_15_16_17 = waste_15_16_17.reset_index(drop = True)
waste_15_16_17 = waste_15_16_17.rename(columns = {"total_waste_recycled_tonne":"total_energy_saved"})
waste_15_16_17.head()

          waste_type  total_energy_saved  year
0      Ferrous Metal             1371000  2017
1  Non-Ferrous Metal               92200  2017
2              Glass               12400  2017
3           Plastics               51800  2017
4           Plastics               59500  2016

In [2]:
waste_18_19 = pd.read_csv("datasets/2018_2019_waste.csv")
waste_18_19 = waste_18_19[["Waste Type", "Total Recycled ('000 tonnes)", "Year"]]
waste_18_19 = waste_18_19.rename(columns = {"Waste Type": "waste_type", "Total Recycled ('000 tonnes)":"total_energy_saved", "Year":"year"})
waste_18_19["total_energy_saved"] = waste_18_19["total_energy_saved"] * 1000
waste_18_19 = waste_18_19[waste_18_19.waste_type.isin(["Ferrous Metal", "Plastics", "Non-Ferrous Metal", "Glass"])]
waste_18_19 = waste_18_19.reset_index(drop = True)
waste_18_19.head()

          waste_type  total_energy_saved  year
0      Ferrous Metal             1270000  2019
1           Plastics               37000  2019
2  Non-Ferrous Metal              124000  2019
3              Glass               11000  2019
4      Ferrous Metal              126000  2018

In [3]:
energy_saved = pd.read_csv("datasets/energy_saved.csv")
energy_saved.T.head()

,0,1,2,3,4
The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,1 barrel oil is approximately 159 litres of oil,NaN,material,energy_saved,crude_oil saved
Unnamed: 1,NaN,NaN,Plastic,5774 Kwh,16 barrels
Unnamed: 2,NaN,NaN,Glass,42 Kwh,NaN
Unnamed: 3,NaN,NaN,Ferrous Metal,642 Kwh,1.8 barrels
Unnamed: 4,NaN,NaN,Non-Ferrous Metal,14000 Kwh,40 barrels

In [7]:
annual_energy_savings = pd.concat([waste_18_19, waste_15_16_17], ignore_index = True)
annual_energy_savings.total_energy_saved = [d.total_energy_saved * 642 if d.waste_type == "Ferrous Metal" else (d.total_energy_saved * 5774 if d.waste_type == "Plastics" else (d.total_energy_saved * 42 if d.waste_type == "Glass" else d.total_energy_saved * 14000)) for i, d in annual_energy_savings.iterrows()]
annual_energy_savings.head()

          waste_type  total_energy_saved  year
0      Ferrous Metal           815340000  2019
1           Plastics           213638000  2019
2  Non-Ferrous Metal          1736000000  2019
3              Glass              462000  2019
4      Ferrous Metal            80892000  2018

In [8]:
annual_energy_savings = annual_energy_savings.groupby("year").sum()
annual_energy_savings

      total_energy_saved
year
2015          3435929000
2016          2554433400
2017          2470596000
2018          2698130000
2019          2765440000